/* shared style  */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.text-primary-first{
    color: #131313;
}
.text-primary-second{
    color: #727272;
}
.text-primary-third{
    color: #424242;
}
.btn-primary{
    color: white;
    padding: 10px 12px;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
/* header section style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 130px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
}
.navigation-link{
    display: flex;

}
.navigation-link li{
    list-style: none;
    margin-left: 30px;
    font-size: 1rem;
}
.navigation-link li a{
    text-decoration: none;
    color: #424242;
}
.navigation-link a:hover{
    color: orange;
}

/* banner section style */
.banner-content{
    max-width: 900px;
    text-align: center;
    margin: 50px auto;
    border: 1px solid black;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    margin: 1.5rem auto;
}
.banner-img img{
    width: 100%;
}
/* header section style */
/* header section style */